.venv/
__pycache__/
*.py[cod]
uv.lock
dev_files/*
chain_logs/*
chain_outputs/*
figures/*
stats
data/*

!.gitkeep
!dev_files/.gitkeep
!chain_logs/.gitkeep
!chain_outputs/.gitkeep
!figures/.gitkeep
!stats/.gitkeep
!data/alt_plan_pa.json
!data/pa_gdf.parquet
