*

.venv
dev_files

!.gitignore
!.dockerignore
!democracy-batsignal.ps1
!democracy-batsignal.sh
!README.md

!development/
development/*
!development/Dockerfile
!development/generate_installers.py
!development/installer_src/
!development/installer_src/**
!development/template_project/
!development/template_project/**
!development/test_generate_installers.py
!development/test_generated_projects.sh
