*

.venv
dev_files

!.gitignore
!democracy-batsignal.ps1
!democracy-batsignal.sh
!README.md

!template_project/
!template_project/**

!generate_installers.py
!test_generate_installers.py
!installer_src/
!installer_src/**
